.container
{
  position: relative;
  width: 1200px;
  height: 900px;
  margin: 0 auto;
  background-image:url('images/background.png');
  background-repeat:no-repeat;
  background-color:#FFFFFF;
}

#naudin
{
  position: absolute;
  top: 250px;
  left: 615px;
}

#guerton
{
  position: absolute;
  top: 418px;
  left: 420px;
}

#eti
{
  position: absolute;
  top: 590px;
  left: 685px;
}