.container
{
  position: relative;
  width: 1200px;
  height: 900px;
  margin: 0 auto;
  background-image:url('images/background.png');
  background-repeat:no-repeat;
  background-color:#FFFFFF;
}

#naudin
{
  position: absolute;
  top: 150px;
  left: 490px;
}

#guerton
{
  position: absolute;
  top: 270px;
  left: 335px;
}

#eti
{
  position: absolute;
  top: 395px;
  left: 500px;
}

#girod-sisa
{
  position: absolute;
  top: 500px;
  left: 640px;
}

#contact
{
  position: absolute;
  top: 607px;
  left: 640px;
}
